body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 5px;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/01/06/26/open-book-1428428_960_720.jpg);
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
}


#title, #description {
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 0%;
}
#survey-form {
    margin: 0px auto;
    background: #c2007d75;
    padding: 2rem;
    width: 500px;
    font-size: 1em;
    color: white;
    border-radius: 20px;
    margin-top: 35px;
    box-shadow: -1px 7px 30px #4e494c;
}

#survey-form label {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: bold;
}

#number , #email , #name {
    display: flex;
    margin-left: 5%;
    margin-top: 10px;
    width: 85%;
    border: 0;
    font-size: 1rem;
    height: 30px;
    padding: 0.2rem;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
}
select {
    display: flex;
    margin-left: 5%;
    margin-top: 10px;
    width: 88%;
    border: 0;
    font-size: 1rem;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    color: #757575;
}

.input-radio , .input-checkbox {
    width: 15%;
    margin-top: -7%;
    height: 17px;
    display: flex;
}

p {
    margin-left: 15%;
}

h3 {
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 5%;
}

textarea {
    min-height: 120px;
    width: 83%;
    margin-left: 5%;
    padding: 0.625rem;
    outline: none;
    font-family: 'Noto Sans TC', sans-serif;
    resize: vertical;
}

#submit {
    background: #e2e2e2c7;
    outline: none;
    border-style: none;
    /* display: flex; */
    /* justify-content: center; */
    height: 30px;
    text-align: center;
    /* width: 200px; */
    padding-left: 50px;
    padding-right: 50px;
    /* padding: 20px; */
    margin-left: 35%;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 35px;
    transition: 0.5s;
}

#submit:hover{
    background: #d276ac;
}




@media  screen and (min-width: 280px) and (max-width: 450px)
{
    #title, #description {
        text-align: center;
    }
    select{
    width: 70%;
    }
    .input-radio, .input-checkbox {
    margin-top: -12%;
    }
    #submit{
        margin-left: 25%;
    }
}

@media  screen and (max-width: 480px)
{
    #survey-form {
        width: 85%;
    }

    #title,#description {
        margin-left: 6%;
        font-size: 26px;
    }
}
